.container-midle__button {
      margin-top: 2em;
      padding: .4em 0;
      width: 14em;
      height: 2em;
      background-color: #000;
      border-radius: .3em;
      color: #eff0f1;
      font-weight: 400;
      font-size: $font-size*1.5;
      text-decoration: none;
      outline: none;
      transition: 1s ease-out;
      
      &:hover {
        background: rgba(0, 0, 0, .6);
      }
    }