@import 'https://fonts.googleapis.com/css?family=Orbitron';

@font-face {
      font-family: 'icon';
      src: url('../font/fontello.ttf');
      font-weight: normal;
      font-style: normal;
}

$font-logo: 'Orbitron';
$font-text: 'Open Sans', sans-serif;
$font-icon: 'icon';
$font-size: 1em;