@import '_fonts';
@import '_reset';

$width-block: 100%;

@mixin main_block() {
  margin-left: 10%;
  padding: 10px;
  width: 80%;
  border-bottom: .4em solid #dde;
}

@mixin footer_block() {
  display: inline-block;
  padding-top: 1em;
  height: 100%;
  width: 50%;
  text-align: center;
}